@use "mixin/mixin.scss" as mixin;
@use "../scss/vars/vars.scss" as vars;

.noti {
  @include mixin.flexBox('',center, end);
  position: fixed;
  bottom: 0;
  background-color: vars.$secondary-500;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transform: translateY(150%);
  animation: noti 4s forwards 1 linear;
  z-index: 1;

  &__image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: top;
  }

  &__content {
    width: 100%;
    padding: 0 10px;
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
  }

  &__desc {
    font-size: 13px;
    line-height: 2;
    padding-top: 10px;
  }
}

@keyframes noti {
  20%,
80% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(150%);
  }
}

// /'mobile': width < 740px
@media only screen and (max-width: 46.1875em) {
  .noti {
    width: 100%;
  }
}