@use "../scss/vars/vars.scss" as vars;
@use "../scss/mixin/mixin.scss" as mixin;

#back-top {
  position: fixed;
  bottom: 30px;
  background: vars.$primary-50;
  border: 0.1875em solid vars.$accent2-700;
  border-radius: 50%;
  box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
  height: 2em;
  width: 2em;
  font-size: 20px;
  display: none;
  right: 0;
  margin-right: 10px;
  animation: jump .9s alternate infinite;
}

@keyframes jump {
  0%    {transform: translateY(0)}
  100%  {transform: translateY(50%)}
}