
$purple:   #865fdf;
$ease:     cubic-bezier(0.55, 0.085, 0.68, 0.53);
$btn-bg:   #8f69e8;
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   background: linear-gradient(to bottom left, white, $purple);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1000;

  // &::after {
  //  position: absolute;
  //  content: "";
  //  background-image: url("https://stfe.fadoglobal.io/desktop/image/bg/login-bg-map.png");
  //  left: 0;
  //  top: 0;
  //  background-position: 50%;
  //  background-repeat: no-repeat;
  //  width: 100%;
  //  height: 100%;
  //  z-index: -1;
  // }

  &__content {
   position: relative;
    // max-width: 600px;
    width: 580px;
    height: 386px;
    padding: 50px;
    border-radius: 20px;
    // background: $purple;
    background: linear-gradient(80deg, white, $purple);
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    animation: swing 1.5s .2s ease;
  }

  &__title {
   text-align: center;
   font-size: 44px;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
    border-radius: 50px;
    z-index: 1000;
    padding: 10px;
    transition: all 0.25s linear;

    &:hover {
     background: $purple;
     color: white;
     transition: all 0.5s linear;
     transform: rotate(270deg);
    }
  }

  &__des {
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    line-height: 1.8;
    width: 50%;
    margin: 30px auto;
    font-size: 14px;
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  &__agree,
  &__cancel {
    border: 0;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    padding: 20px 30px;
    border-radius: 10px;

    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
     cursor: pointer;
     outline: none;
     box-shadow: 0 0 25px $purple;
     animation: swing 1.5s .3s ease;
    }
  }

  &__agree {
   background-color: $purple;
   color: white;
   

   &:hover {
    background: $btn-bg;
   }
  }
  
}

.is-show {
 opacity: 1;
 visibility: visible;
}

.is--open {
 .outer {
   animation: swing 1.5s .2s ease;
 }
 .flap__btn:first-of-type {
   animation: swing 1.5s .3s ease;
 }
 .flap__btn:last-of-type {
   animation: swing 1.5s .4s ease;
 }
}

@keyframes swing {
  10%  { transform: rotateX(25deg);   }
  50%  { transform: rotateX(-15deg);  }
  75%  { transform: rotateX(5deg);    }
  90%  { transform: rotateX(-2.5deg); }
  100% { transform: rotateX(0deg);    }
 }